body{
    background-color:white;
    display: flex;
    justify-content: center;
    align-content: center;
}

.continer{
    

    display: flex;
    justify-content: center;
    align-items: center;
    height: 85vh;
    margin: auto;
    width: 90%;
    margin-top: 50px;
   
    background-color: rgb(6, 6, 31);

    
    
}
.text{
    text-align: center;
    color: antiquewhite;
    background-color: rgb(34, 4, 62);
    padding: 80px 72px 64px;
    border-radius: 5px;
    
   
    width: 30%;
    

   
}
h2{
    font-weight: bold;
}
span{
    color: rgb(65, 42, 86);
    font-weight: bold;
}
.div3{
    display: flex;
    justify-content: space-evenly;
    font-size: medium;
    font-weight: 14px;
}
.imge{
   
    border-radius: 5px;
    background-image:url(../stats-preview-card-component-main/images/image-header-desktop.jpg);
    height:450px;
    width: 35%;
    
    
    background-repeat: no-repeat;
    
   opacity: 25%;
}
